#dialog {
    display: inline-block;
    position: absolute;

    background: #FFF;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;

    .template {
        display: block;
    }
}